@import url(./responsive.css);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-width: 320px;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #034159;
    width: 100%;
    height: auto;
}

.introducao {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: 4rem;
    gap: 3rem;
}

.box {
    width: 20%;
    text-align: justify;
    text-align: center;
}

.introducao__titulo {
    font-size: 2rem;
    font-weight: 600;
    color: #0CF25D;
}

.introducao__titulo span {
    font-weight: 800;
    color: antiquewhite;
}

.introducao__texto {
    text-align: justify;
    line-height: 1.6;
    margin-top: 1rem;
}

.imagem_introduçao {
    height: 50vh;
    width: auto;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 1));
}


.projetos__titulo {
    display: flex;
    background-image: linear-gradient(90deg, #025951 0%, #02735E 50%, #0CF25D 100%);
    margin-top: 4rem;
    padding: 1rem 0;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    color: white;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.projeto {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem 1rem 0 0;
}

.projeto__imagem {
    width: 100%;
    padding: 10px;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.projeto__imagem img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    margin: auto;
}

.button_explicacao {
    padding: 0 2rem;
    color: #fff;
    background: #252525;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 1rem;
}

.button_explicacao:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
}



.projeto:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1);
}

.projeto__titulo {
    margin: 1rem;
}

.projeto__descricao {
    margin: 10px;
}


.projeto__descricao_texto {
    text-align: justify;
    margin: 10px;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.language-selected::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://flagsapi.com/BR/flat/64.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language-selected.change-br::before {
    background-image: url(https://flagsapi.com/BR/flat/64.png);
}

.language-selected.change-en::before {
    background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding-top: 5px 10px;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.br::before {
    background-image: url(https://flagsapi.com/BR/flat/64.png);
}

a.en::before {
    background-image: url(https://flagsapi.com/US/flat/64.png);
}

.language:hover ul {
    display: block;
}

.box_footer {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}


.button_footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: end;
}

.button_footer button {
    background: #252525;
    font-weight: 800;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.button_footer button:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
}

.button_footer button a {
    text-decoration: none;
    color: white;
}

.contato {
    flex-basis: 100%;
    width: 10rem;
    height: auto;
    padding: 1rem;
    background-color: #252525;
    color: white;
    letter-spacing: 1px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: white;
    letter-spacing: 1.1px;
    padding: 1rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog {
    background-color: #034159;
    width: 30%;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 10px 24px rgba(255, 255, 255, 0.7);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog .projeto__descricao_texto {
    padding: 1rem;
    line-height: 1.3;
    text-align: start;
}

dialog .button_closed {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.fechar_botao {
    color: #fff;
    background: #252525;
    font-weight: 800;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.fechar_botao:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
}



.introducao__imagem_mobile {
    display: none;
}